<main>
    <h1>Register for ClassBook Manager</h1>
    <form>
        <fieldset name="Schule">
            <legend>Schule</legend>
            <input required="required" type="text" placeholder="Schulname" ng-model="$ctrl.data.schoolname">
            <input required="required" type="text" placeholder="Schuladresse" ng-model="$ctrl.data.schooladdress">
        </fieldset>
        <fieldset>
            <legend>Admin</legend>
            <input required="required" type="text" placeholder="Vorname" ng-model="$ctrl.data.adminprename">
            <input required="required" type="text" placeholder="Nachname" ng-model="$ctrl.data.adminsurname">
            <input required="required" type="text" placeholder="Username" ng-model="$ctrl.data.adminusername">
            <input required="required" type="text" placeholder="E-Mail" ng-model="$ctrl.data.adminemail">
            <input required="required" type="password" placeholder="Passwort" ng-model="$ctrl.data.adminpassword">
        </fieldset>
        <input type="submit" value="Registrieren" ng-click="$ctrl.register($ctrl.data)">
    </form>
    <span ng-repeat="msg in $ctrl.message">{{msg}}</span>
</main>