<main>
    <h1>ClassBook Manager</h1>
    <form>
        <select required="required" ng-model="$ctrl.login.f_school"
                ng-options="school.id as school.name for school in $ctrl.schools">
            <option value="">Bitte Schule wählen!</option>
        </select>
        <input required="required" type="text" name="username" placeholder="Username" ng-model="$ctrl.login.username">
        <input required="required" type="password" name="password" placeholder="Passwort"
               ng-model="$ctrl.login.password">
        <input type="submit" value="Login" ng-click="$ctrl.tryLogin($ctrl.login)">
        <a href="#!/register">
            <input type="submit" value="Jetzt registrieren">
        </a>
        <a href="/auth/google">Mit Google anmelden</a>
    </form>
    <span ng-repeat="msg in $ctrl.message">{{msg}}</span>
</main>