<main>
    <!-- Column -- Left -->
    <section>
        <!-- Widget -- Passwort ändern -->
        <div>
            <!-- Content -->
            <div>
                <h1>Passwort &auml;ndern</h1>
                <ul>
                    <li><input ng-model="$ctrl.settings.password" type="password" placeholder="Aktuelles Passwort"><br></li>
                    <li><input ng-model="$ctrl.settings.newPassword" type="password" placeholder="Neues Passwort"><br></li>
                    <li><input ng-model="$ctrl.settings.secPassword" type="password" placeholder="Neues Passwort best&auml;tigen"><br></li>
                    <li><input ng-click="$ctrl.changePassword($ctrl.settings)" type="button" value="speichern"></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Column -- Right -->
    <section>
        <!--  Widget -- Email ändern -->
        <div>
            <!-- Content -->
            <div>
                <h1>E-Mail &auml;ndern</h1>
                <ul>
                    <li><p>aktuelle Mail:</p><p ng-bind="$ctrl.email"></p></li>
                    <li><input ng-model="$ctrl.newEmail" type="text" placeholder="Neue E-Mail"></li>
                    <li><input ng-click="$ctrl.changeEmail($ctrl.newEmail)" type="button" value="speichern"></li>
                    <li><a href="/auth/google">Mit Google verbinden</a></li>
                </ul>
            </div>
        </div>
    </section>
</main>