<main>

    <!-- Column -- Main -->

    <section>

        <!-- Widget -- Lehrer -->

        <div>

            <!-- Content -->

            <div>
                <h1>Lehrer</h1>
                <span>
                            <input ng-model="$ctrl.search.prename" type="text" placeholder="Vorname filtern">
                            <input ng-model="$ctrl.search.surname" type="text" placeholder="Nachname filtern">
                            <input ng-model="$ctrl.search.email" type="text" placeholder="E-Mail filtern">
                        </span>
                <table>
                    <thead>
                    <tr>
                        <th ng-click="$ctrl.sortTable('prename')">Vorname</th>
                        <th ng-click="$ctrl.sortTable('surname')">Nachname</th>
                        <th ng-click="$ctrl.sortTable('rolename')">Rolle</th>
                        <th ng-click="$ctrl.sortTable('email')">E-Mail</th>
                        <th>
                            <!-- icon -- edit -->
                        </th>
                        <th>
                            <!-- icon -- delete -->
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="teacher in $ctrl.teachers | filter:$ctrl.search | orderBy:$ctrl.sortType:$ctrl.sortReverse">
                        <td>{{teacher.prename}}</td>
                        <td>{{teacher.surname}}</td>
                        <td>{{teacher.rolename}}</td>
                        <td>{{teacher.email}}</td>
                        <td><a href="" ng-click="$ctrl.edit.show(teacher)"><i class="material-icons">create</i></a></td>
                        <td ng-show="$ctrl.admin"><a href="" ng-click="$ctrl.delete(teacher)"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="filter" ng-show="$ctrl.showButtonContent" ng-click="switchButtonForm()"></div>

    <!-- pop-up -- edit techaer -->

    <div class="pop-up" ng-show="$ctrl.showEditPopUp">
        <form>
            <ul>
                <li>
                    <h1>Lehrer bearbeiten</h1>
                </li>
                <li>
                    <input ng-model="$ctrl.edit_teacher.prename" type="text" placeholder="Vorname">
                </li>
                <li>
                    <input ng-model="$ctrl.edit_teacher.surname" type="text" placeholder="Nachname">
                </li>
                <li>
                    <input ng-model="$ctrl.edit_teacher.email" type="text" placeholder="E-Mail">
                </li>
                <li>
                    <input type="button" value="speichern" ng-click="$ctrl.edit.save($ctrl.edit_teacher)">
                    <input type="button" value="abbrechen" ng-click="$ctrl.edit.close()">
                </li>
            </ul>
        </form>
    </div>
</main>
<footer>
    <input class="floating-button" type="button" ng-click="$ctrl.new.switch()" value="+">

    <!-- Floating Button -- Formular -->

    <form ng-show="$ctrl.showButtonContent">
        <ul>
            <li>
                <h1>Lehrer anlegen</h1>
            </li>
            <li>
                <input ng-model="$ctrl.new_teacher.prename" type="text" placeholder="Vorname">
            </li>
            <li>
                <input ng-model="$ctrl.new_teacher.surname" type="text" placeholder="Nachname">
            </li>
            <li>
                <input ng-model="$ctrl.new_teacher.email" type="text" placeholder="E-Mail">
            </li>
            <li>
                <input ng-model="$ctrl.new_teacher.username" type="text" placeholder="Username">
            </li>
            <li>
                <input ng-model="$ctrl.new_teacher.password" type="password" placeholder="Initialpasswort">
            </li>
            <li>
                <input type="button" value="speichern" ng-click="$ctrl.new.save($ctrl.new_teacher)">
                <input type="button" value="abbrechen" ng-click="$ctrl.new.close()">
            </li>
        </ul>
    </form>
</footer>