<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Klassenbuch</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="../shared/css/style.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/profil.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/klassen.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/lehrer.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/notizen.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/schueler.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<header ng-controller="appCtrl">
    <nav>
        <!-- Column -- Left -->
        <div>
            <a href="#"><b>Class</b>Book</a>
        </div>
        <!-- Column -- Right -->
        <div>
            <a href="#!/dashboard">Dashboard</a>
            <a href="#!/klassen">Klassen</a>
            <a href="#!/schueler">Sch&uuml;ler</a>
            <a href="#!/lehrer">Lehrer</a>
            <a href="#!/notizen">Notizen</a>
            <a href="#!/profil"><i class="material-icons">account_circle</i></a>
            <a href=""><i ng-click="logout()" class="material-icons">power_settings_new</i></a>
        </div>
    </nav>
</header>
<!-- Main Content -->
<div ng-view></div>
<script src="../shared/js/foreign/angular.min.js"></script>
<script src="../shared/js/foreign/angular-route.min.js"></script>
<script src="../shared/js/BackendService.js"></script>
<script src="app/app.module.js"></script>
<script src="app/app.controller.js"></script>
<script src="app/app.config.js"></script>
<script src="app/app.run.js"></script>
<script src="app/core/core.module.js"></script>
<script src="app/core/distinct/distinct.filter.js"></script>
<script src="app/core/searchNames/seachNames.filter.js"></script>
<script src="app/dashboard/dashboard.module.js"></script>
<script src="app/dashboard/dashboard.component.js"></script>
<script src="app/klassen/klassen.module.js"></script>
<script src="app/klassen/klassen.component.js"></script>
<script src="app/schueler/schueler.module.js"></script>
<script src="app/schueler/schueler.component.js"></script>
<script src="app/lehrer/lehrer.module.js"></script>
<script src="app/lehrer/lehrer.component.js"></script>
<script src="app/notizen/notizen.module.js"></script>
<script src="app/notizen/notizen.component.js"></script>
<script src="app/profil/profil.module.js"></script>
<script src="app/profil/profil.component.js"></script>
</body>
</html>