<main>
    <!-- Column -- Main -->
    <section>
        <!-- Widget -- Meine Klassen -->
        <div>
            <div>
                <h1>Notizen</h1>
                <!-- Table -- Toolbar -->
                        <span>
                            <select ng-model="$ctrl.search.f_category">
                                    <option value="">Alle Kategorien</option>
                                    <option ng-repeat="cat in $ctrl.Categories"
                                            value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                            <select ng-model="$ctrl.search.excused">
                                    <option value="">Alle</option>
                                    <option value="true">Entschuldigt</option>
                                    <option value="false">Unentschuldigt</option>
                            </select>
                            <input ng-model="$ctrl.search.student" type="text" placeholder="Sch&uuml;ler">
                            <input ng-model="$ctrl.search.teacher" type="text" placeholder="Lehrer">
                        </span>
                <table>
                    <thead>
                    <tr>
                        <th ng-click="$ctrl.sortTable('category')">Kategorie</th>
                        <th ng-click="$ctrl.sortTable('text')">Beschreibung</th>
                        <th ng-click="$ctrl.sortTable('student')">Sch&uuml;ler</th>
                        <th ng-click="$ctrl.sortTable('teacher')">Lehrer</th>
                        <th ng-click="$ctrl.sortTable('timestamp')">Zeit</th>
                        <th ng-click="$ctrl.sortTable('excused')">Ent.</th>
                        <th><!-- icon Bearbeiten --></th>
                        <th><!-- icon Löschen --></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="note in $ctrl.Notes | filter:$ctrl.search | orderBy:$ctrl.sortType:$ctrl.sortReverse">
                        <td>{{note.category}}</td>
                        <td>{{note.text}}</td>
                        <td>{{note.student}}</td>
                        <td>{{note.teacher}}</td>
                        <td>{{note.timestamp | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td><input ng-model="note.excused" ng-change="$ctrl.edit.excuse(note)" type="checkbox"></td>
                        <td><a href="" ng-click="$ctrl.edit.show(note)"><i class="material-icons">create</i></a></td>
                        <td><a href="" ng-click="$ctrl.delete(note)"><i class="material-icons">delete</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="filter" ng-show="$ctrl.showButtonContent" ng-click="switchButtonForm()"></div>
    <div class="pop-up" ng-show="$ctrl.showEditPopUp">
        <form>
            <ul>
                <li>
                    <h1>Notiz bearbeiten</h1>
                </li>
                <li>
                    <select ng-model="$ctrl.edit_note.f_category"
                            ng-options="cat.id as cat.name for cat in $ctrl.Categories">
                        <option disabled value="">Kategorie</option>
                    </select>
                </li>
                <li>
                    <select ng-model="$ctrl.edit_note.f_student"
                            ng-options="student.id as (student.prename + ' ' + student.surname) group by student.class for student in $ctrl.Students | orderBy:'class'">
                        <option disabled value="">Schüler wählen</option>
                    </select>
                </li>
                <li>
                    <textarea ng-model="$ctrl.edit_note.text" placeholder="Beschreibung"></textarea>
                </li>
                <li>
                    <label>Entschuldigt</label>
                    <input type="checkbox" ng-model="$ctrl.edit_note.excused">
                </li>
                <li>
                    <input type="button" value="speichern" ng-click="$ctrl.edit.save($ctrl.edit_note)">
                    <input type="button" value="abbrechen" ng-click="$ctrl.edit.close()">
                </li>
            </ul>
        </form>
    </div>
</main>
<footer>


    <!-- Floating Button -- Formular -->

    <input class="floating-button" type="button" ng-click="$ctrl.new.switch()" value="+">

    <div class="pop-up" ng-show="$ctrl.showButtonContent">
        <form>
            <ul>
                <li>
                    <h1>Notiz anlegen</h1>
                </li>
                <li>
                    <select ng-model="$ctrl.new_note.f_category"
                            ng-options="cat.id as cat.name for cat in $ctrl.Categories">
                        <option disabled value="">Kategorie</option>
                    </select>
                </li>
                <li>
                    <select ng-model="$ctrl.new_note.f_student"
                            ng-options="student.id as (student.prename + ' ' + student.surname) group by student.class for student in $ctrl.Students | orderBy:'class'">
                        <option disabled value="">Schüler wählen</option>
                    </select>
                </li>
                <li>
                    <textarea ng-model="$ctrl.new_note.text" placeholder="Beschreibung"></textarea>
                </li>
                <li>
                    <label>Entschuldigt</label>
                    <input type="checkbox" ng-model="$ctrl.new_note.excused">
                </li>
                <li>
                    <input type="button" value="speichern" ng-click="$ctrl.new.save($ctrl.new_note)">
                    <input type="button" value="abbrechen" ng-click="$ctrl.new.close()">
                </li>
            </ul>
        </form>
    </div>
</footer>
