<!-- Column -- Left -->
<main>
   <section>
        <!-- Widget -- Meine letzten Notizen -->
        <div>
            <!-- Content -->
            <div>
                <h1>Meine letzten Notizen</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Sch&uuml;ler</th>
                        <th>Kategorie</th>
                        <th>Notiz</th>
                        <th>Entschuldigt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="note in $ctrl.lastNotes" >
                        <td>{{note.student}}</td>
                        <td>{{note.category}}</td>
                        <td>{{note.text}}</td>
                        <td><input ng-change="$ctrl.excuse(note)" ng-model="note.excused" type="checkbox"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Widget -- Letzte Notizen meiner Schüler -->

        <div ng-if="$ctrl.lastNotesOfClass">
            <!-- Content -->

                <!-- Content -->
                <div ng-repeat="(key, value) in $ctrl.lastNotesOfClass">
                    <h1>Letzte Notizen meiner Klasse {{key}}</h1>
                    <table>
                        <thead>
                        <tr>
                            <th>Sch&uuml;ler</th>
                            <th>Kategorie</th>
                            <th>Notiz</th>
                            <th>Entschuldigt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="note in value">
                            <td>{{note.student}}</td>
                            <td>{{note.category}}</td>
                            <td>{{note.text}}</td>
                            <td><input ng-change="$ctrl.excuse(note)" ng-model="note.excused" type="checkbox"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
