<main>
    <!-- Column -- Main -->
    <section>
        <!-- Widget -- Meine Klassen -->
        <div>
            <!-- Content -->
            <div>
                <h1>Klassen</h1>
                <!-- Table -- Toolbar -->
                        <span>
                            <select ng-model="$ctrl.search.level">
                                    <option value="">Alle Stufen</option>
                                    <option ng-repeat="class in $ctrl.d_Classes | distinct:'level'"
                                            value="{{class.level}}">{{class.level}}</option>
                            </select>
                            <select ng-model="$ctrl.search.classNR">
                                    <option value="">Alle Namen</option>
                                    <option ng-repeat="class in $ctrl.d_Classes | filter:{level: $ctrl.search.level} | distinct:'classNR'"
                                            value="{{class.classNR}}">{{class.classNR}}</option>
                            </select>
                            <input type="text" placeholder="Lehrer filtern" ng-model="$ctrl.search.teacher">
                        </span>


                <table>
                    <thead class="sortable">
                    <tr>
                        <th ng-click="$ctrl.sortTable('level')">Stufe</th>
                        <th ng-click="$ctrl.sortTable('classNR')">Name</th>
                        <th ng-click="$ctrl.sortTable('teacher')">Klassenlehrer</th>
                        <th>
                            <!-- icon -->
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="class in $ctrl.d_Classes | filter:$ctrl.search | orderBy:$ctrl.sortType:$ctrl.sortReverse">
                        <td>{{class.level}}</td>
                        <td>{{class.classNR}}</td>
                        <td>{{class.teacher}}</td>
                        <td><a href="" ng-click="$ctrl.edit.show(class)"><i class="material-icons">edit</i></a></td>
                        <td><a href="" ng-click="$ctrl.delete(class)"><i class="material-icons">delete</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="filter" ng-show="$ctrl.showButtonContent" ng-click="switchButtonForm()"></div>

    <!-- pop up -- -->

    <div class="pop-up" ng-show="$ctrl.showEditPopUp">
        <form>
            <ul>
                <li>
                    <h1>Klasse bearbeiten</h1>
                </li>

                <li>
                    <input min="1" max="15" type="number" placeholder="Klassenstufe" ng-model="$ctrl.edit_class.level">
                </li>
                <li>
                    <input type="text" placeholder="Klassenname" ng-model="$ctrl.edit_class.classNR">
                </li>
                <li>
                    <select ng-model="$ctrl.edit_class.f_teacher"
                            ng-options="teacher.id as (teacher.prename + ' ' + teacher.surname) for teacher in $ctrl.teachers">
                        <option disabled value="">Klassenlehrer</option>
                    </select>
                </li>
                <li>
                    <input type="button" value="speichern" ng-click="$ctrl.edit.save($ctrl.edit_class)">
                    <input type="button" value="abbrechen" ng-click="$ctrl.edit.close()">
                </li>
            </ul>
        </form>
    </div>
</main>

<footer>
    <input class="floating-button" type="button" ng-click="$ctrl.new.switch()" value="+">

    <!-- Floating Button -- Formular -->

    <form ng-show="$ctrl.showButtonContent">
        <ul>
            <li><h1>Klasse anlegen</h1></li>

            <li><input min="1" max="15" type="number" placeholder="Klassenstufe" ng-model="$ctrl.new_class.level"></li>
            <li><input type="text" placeholder="Klassenname" ng-model="$ctrl.new_class.classNR"></li>
            <li><select ng-model="$ctrl.new_class.f_teacher"
                        ng-options="teacher.id as (teacher.prename + ' ' + teacher.surname) for teacher in $ctrl.teachers">
                <option disabled value="">Klassenlehrer</option>
            </select></li>
            <li>
                <input type="button" value="speichern" ng-click="$ctrl.new.save($ctrl.new_class)">
                <input type="button" value="abbrechen" ng-click="$ctrl.new.close()">
            </li>
        </ul>
    </form>
</footer>