<main>
    <!-- Column -- Main -->
    <section>
        <!-- Widget -- Meine Klassen -->
        <div>
            <!-- Content -->
            <div>
                <h1>Sch&uuml;ler</h1>
                <!-- Table -- Toolbar -->
                        <span>
                            <select ng-model="$ctrl.search.f_class"> <!-- ng-options="class.id as class.classNR group by class.level for class in $ctrl.classes track by class.id"-->
                                <option value="">Alle Klassen</option>
                                <option ng-repeat="class in $ctrl.classes"
                                        value="{{class.id}}">{{class.level + '' + class.classNR}}</option>
                            </select>
                            <input ng-model="$ctrl.searchName" type="text" placeholder="Name filtern">
                        </span>
                <table>
                    <thead>
                    <tr>
                        <th ng-click="$ctrl.sortTable('prename')">Vorname</th>
                        <th ng-click="$ctrl.sortTable('surname')">Nachname</th>
                        <th ng-click="$ctrl.sortTable('class')">Klasse</th>
                        <th><!-- icon -- add sheet --></th>
                        <th><!-- icon -- edit --></th>
                        <th><!-- icon -- delete --></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in $ctrl.d_students | filter:$ctrl.search | searchNames:$ctrl.searchName | orderBy:$ctrl.sortType:$ctrl.sortReverse">
                        <td>{{student.prename}}</td>
                        <td>{{student.surname}}</td>
                        <td>{{student.className}}</td>
                        <td><a href="" ng-click="$ctrl.newNote.show(student)"><i class="material-icons">note_add</i></a></td>
                        <td><a href="" ng-click="$ctrl.edit.show(student)"><i class="material-icons">edit</i></a></td>
                        <td><a href="" ng-click="$ctrl.delete(student)"><i class="material-icons">delete</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- pop-up -- add note -->

    <div class="pop-up" ng-show="$ctrl.showAddNotePopUp">
        <form>
            <ul>
                <li>
                    <h1>Notiz anlegen</h1>
                </li>
                <li>
                    <select ng-model="$ctrl.new_note.f_category"
                            ng-options="cat.id as cat.name for cat in $ctrl.categories">
                        <option disabled value="">Kategorie</option>
                    </select>
                </li>
                <li>
                    <label>{{$ctrl.new_note.student}}</label>
                </li>
                <li>
                    <textarea ng-model="$ctrl.new_note.text" placeholder="Beschreibung"></textarea>
                </li>
                <li>
                    <label>Entschuldigt</label>
                    <input type="checkbox" ng-model="$ctrl.new_note.excused">
                </li>
                <li>
                    <input type="button" value="speichern" ng-click="$ctrl.newNote.save($ctrl.new_note)">
                    <input type="button" value="abbrechen" ng-click="$ctrl.newNote.close()">
                </li>
            </ul>
        </form>
    </div>
    <!-- pop-up -- edit student -->
    <div class="pop-up" ng-show="$ctrl.showEditPopUp">
        <form>
            <ul>
                <li>
                    <h1>Schüler bearbeiten</h1>
                </li>

                <li>
                    <input ng-model="$ctrl.edit_student.prename" type="text" placeholder="Vorname">
                </li>
                <li>
                    <input ng-model="$ctrl.edit_student.surname" type="text" placeholder="Nachname">
                </li>
                <li>
                    <select ng-model="$ctrl.edit_student.f_class"
                            ng-options="class.id as (class.level + '' + class.classNR) group by class.level for class in $ctrl.classes">
                        <option disabled value="">Klasse auswählen</option>
                    </select>
                </li>
                <li>
                    <input type="button" value="speichern" ng-click="$ctrl.edit.save($ctrl.edit_student)">
                    <input type="button" value="abbrechen" ng-click="$ctrl.edit.close()">
                </li>
            </ul>
        </form>
    </div>
</main>
<footer>
    <input class="floating-button" type="button" ng-click="$ctrl.new.switch()" value="+">
    <!-- Floating Button -- Formular -->
    <form ng-show="$ctrl.showButtonContent">
        <ul>
            <li>
                <h1>Sch&uuml;ler anlegen</h1>
            </li>
            <li>
                <input ng-model="$ctrl.new_student.prename" type="text" placeholder="Vorname">
            </li>
            <li>
                <input ng-model="$ctrl.new_student.surname" type="text" placeholder="Nachname">
            </li>
            <li>
                <select ng-model="$ctrl.new_student.f_class"
                        ng-options="class.id as (class.level + '' + class.classNR) group by class.level for class in $ctrl.classes">
                    <option disabled value="">Klasse auswählen</option>
                </select>
            </li>
            <li>
                <input type="button" value="speichern" ng-click="$ctrl.new.save($ctrl.new_student)">
                <input type="button" value="abbrechen" ng-click="$ctrl.new.close()">
            </li>
        </ul>
    </form>
</footer>
