footer
{
	width: 100%;
	height: 100px;
}

/* Floating Button */

footer .floating-button
{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ff4081;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: width auto 0.2s linear;
	overflow: hidden;
	border: none;
	font-size: 24px;
}

footer form h1
{
	color: white;
	margin: 0;
}


footer .floating-button:focus
{
	outline: 0;
}
footer form
{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 300px;
	height: auto;
	background-color: #ff4081;
	padding: 7px;
	border-radius: 3px;
}

/* Floating button form */

footer form ul
{
	padding: 0;
	margin: 0;
}
footer form ul li
{
	list-style: none;
	padding: 7px;

	display: flex;
	justify-content: space-between;
}
footer form ul li select
{
	width: 100%;
}
footer form ul li input[type="button"]
{
	background-color: transparent;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 11pt;
}
footer form ul li input[type="text"], footer form ul li input[type="password"], footer form ul li input[type="number"], footer .floating-button button ul li textarea
{
	width: 100%;
}
footer form ul li textarea
{
	height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px;
	resize: none;
	width: 100%;
}
footer form ul li label
{
	color: white;
}
footer form ul li input[type="button"]:hover, .floating-button:hover
{
	background-color: #f50057;
	cursor: pointer;
}
