header
{
	float: left;
	margin-bottom: 10px;
	width: 100%;
	height: 75px;
	background-color: #2196F3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav
{
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav:nth-child(2)
{
	display: flex;
	justify-content: flex-end;
}

/* a style */

nav a
{
	text-decoration: none;
	color: white;
}
nav a:hover
{
	background-color: #1e88e5;
	border-radius: 3px;
}
nav a
{
	padding: 10px;
}
nav a
{
	margin-left: 10px;
}