@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/login_background_1920_1080.jpg) no-repeat center center fixed;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1 {
    color: white;
    margin-bottom: 50px;
    font-size: 60px;
}

main legend {
    color: white;
    font-size: 24px;
}

main form input[type="text"], form input[type="password"], .pop-up form ul li input[type="email"] {
    border: none;
    font-size: 22px;
    padding: 8px; /* 1 mehr als button, da button border besitzt */
    color: rgb(60, 60, 60);
}

main form input[type="submit"] {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 22px;
    padding: 7px 17px;
    transition: background-color 0.2s linear;
}

main form input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}
