main
{
	display: flex;
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	min-height: 100%;

	flex-wrap: nowrap;
	justify-content: center;
}

/* Column */

main section
{
	display: flex;
	flex-direction: column;
}

/* Widget */

main section div
{
	min-width: 50%;
	padding: 10px;
}

/* Widget Content */

main section div div
{
	background-color: white;
	padding: 25px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Widget Content Headline */

main section div div div h1
{
	padding: 0;
	margin: 0;
	font-size: 25px;
}

/* Toolbar with filters */

main section div div div span
{
	float: right;
}
