notizen th
{
	text-align: left;
}
notizen th:nth-child(1), td:nth-children(1)
{
	width: 1px;
}
notizen td:nth-child(6)
{
	text-align: center;
}
notizen td:nth-child(5)
{
	width: 1px;
}
notizen textarea
{
	width: 100%;
	height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px;
	resize: none;
}
