profil main section div ul
{
	padding: 0;
	margin: 0;
}
profil main section div div ul li
{
	list-style: none;
	padding: 7px;

	display: flex;
	justify-content: space-between;
}
profil main section div div ul li input[type="button"]
{
	background-color: #2196F3;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 11pt;
	width: 100%;
}
profil main section div div ul li input[type="button"]:hover
{
	background-color: #1e88e5;
	cursor: pointer;
}
profil main section div div ul li input[type="text"], main section div div ul li input[type="password"]
{
	width: 100%;
}
profil main section
{
	flex-grow: 1;
}
