@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(header.css);
@import url(main.css);
@import url(table.css);
@import url(footer.css);

body
{
    margin: 0;
    padding: 0;
    background: url(../img/login_background_1920_1080.jpg) no-repeat center center fixed;
    font-family: 'Open Sans', sans-serif;
    color: rgb(60, 60, 60);
}
input[type="button"]
{
	font-family: 'Open Sans', sans-serif;
}
p
{
    margin: 0;
    padding: 0;
}

/* General Design */

input[type="text"], select, input[type="password"], input[type="number"]
{
	padding: 7px;
	border: 1px solid rgb(240, 240, 240);
}
select option:first-child{
    font-style: italic;
}

.pop-up
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up form
{
    background-color: #ff4081;
    padding: 7px;
    width: 300px;
    height: auto;
    border-radius: 3px;
}
.pop-up form h1
{
	color: white;
    margin: 0;
    font-size: 25px;
}

.pop-up form ul
{
    padding: 0;
    margin: 0;
}
.pop-up form ul li
{
    list-style: none;
    padding: 7px;

    display: flex;
	justify-content: space-between;
}
.pop-up form ul li label
{
	color: white;
}
.pop-up form ul li textarea
{
	height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px;
	resize: none;
	width: 100%;
}
.pop-up form ul li input[type="button"]
{
	background-color: transparent;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 11pt;
}
.pop-up form ul li input[type="button"]:hover
{
	background-color: #f50057;
	cursor: pointer;
}
.pop-up form ul li input[type="text"], .pop-up form ul li input[type="password"], .pop-up form ul li input[type="number"], .pop-up form ul li input[type="email"], .pop-up form ul li select
{
	width: 100%;
}
