table
{
	width: 100%; 
	border-collapse: collapse;
}
tbody tr:hover
{
	background-color: #e3f2fd;
}

/* Table Icon Design */

table a i
{
	color: rgb(60, 60, 60);
}
table a i:hover
{
	color: #ff4081;
}

/* Table Rows And Columns */

td, th
{
	padding: 10px;
	text-align: left;
}
thead
{
	border-bottom: 1px solid #efefef;
}